<section class="container home_body">
   <div class="row logo">
        <%= image_tag("fiscalfocus-logo.png") %>
  </div>
   </div>
   <div class="account  ">
      <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary btn-lg btn-block acc_bttn' %>
      <%= link_to 'SIGN UP', new_user_registration_path,  class: 'btn btn-secondary  btn-lg btn-block acc_bttn'%>
   </div>
   </section>
</section>
