@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.layout_body {
  background-color: #f1f3f2;
}

.home_body {
  margin-top: 20%;
}

.logo {
  max-height: 50%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.account {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.acc_bttn {
  margin: 2%;
  width: 100%;
}

.nav_bar {
  background-color: #3778c2 !important;
}

.white_text {
  color: white;
}

.header {
  background-color: #3778c2;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
}

.field {
  width: 95%;
  margin: 2% auto;
}

.back_btn {
  margin-left: 50%;
  font-size: 25px;
  color: white;
}

.action_btn {
  margin-right: 5%;
}

.forget_pw_btn :active {
  color: grey;
}

.home_icons {
  width: 500px;
}

.btn_new_cat {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn_delete {
  background-color: transparent;
  border: none;
  display: flex;
}
